{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4">Company Profile</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ company.company_name }}</h5>
            <p class="card-text"><strong>Industry:</strong> {{ company.industry }}</p>
            <p class="card-text"><strong>No. of Employees:</strong> {{ company.number_of_employees }}</p>
            <p class="card-text"><strong>HR Name:</strong> {{ company.hr_name }}</p>
            <p class="card-text"><strong>Contact No.:</strong> {{ company.contact_number }}</p>
            <p class="card-text"><strong>Company Address:</strong> {{ company.company_address }}</p>
        </div>
    </div>
    <!-- <a href="{% url 'complete-company-profile' %}" class="btn btn-primary mt-3">Edit Profile</a> -->
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
</div>
{% endblock content %}
